.margen60{
    margin-top: 100px;

    .podio60{
        padding-left: 20px;
        padding-top: 15px;
    }
    .estadisticas60{
        padding-left: 12px;
        ul{
            padding: 5px;
        }
        li{
            padding: 0px;
        }
    }

}

.inferior60{
    margin-top: 50px;
    .p1_60{
        margin: 0px;
    }
}
