.margen90{
    margin-top: 100px;

    .podio90{
        padding-left: 20px;
        padding-top: 15px;
    }
    .estadisticas90{
        padding-left: 12px;
        ul{
            padding: 5px;
        }
        li{
            padding: 0px;
        }
    }

}
.inferior90{
    margin-top: 50px;
    .p1_90{
        margin: 0px;
    }
    .p2_90{
        margin: 0px;
    }
    .p3_90{
        margin: 0px;
    }
    .p4_90{
        margin-bottom: 25px;
    }
    .p5_90{
        margin: 0px;
    }
    .p6_90{
        margin: 0px;
    }
    .p7_90{
        margin: 0px;
    }
    .p8_90{
        margin: 0px;
    }
    .p9_90{
        margin: 0px;
    }
    .p10_90{
        margin: 0px;
    }
    .p11_90{
        margin-bottom: 25px;
    }
    .p12_90{
        margin-bottom: 50px;
    }

}