.margen50{
    margin-top: 100px;

    .podio{
        padding-left: 20px;
        padding-top: 15px;
    }
    .estadisticas50{
        padding-left: 12px;
        ul{
            padding: 5px;
        }
        li{
            padding: 0px;
        }
    }

}

.inferior50{
    margin-top: 50px;
    .p3_50{
        margin: 0px;
    }
    .p4_50{
        margin-bottom: 50px;
    }
}