.margen80{
    margin-top: 100px;

    .podio80{
        padding-left: 20px;
        padding-top: 15px;
    }
    .estadisticas80{
        padding-left: 12px;
        ul{
            padding: 5px;
        }
        li{
            padding: 0px;
        }
    }

}
.inferior80{
    margin-top: 50px;
    .p1_80{
        margin: 0px;
    }
    .p2_80{
        margin: 0px;
    }
    .p3_80{
        margin: 0px;
    }
    .p4_80{
        margin-bottom: 25px;
    }
    .p5_80{
        margin: 0px;
    }
    .p6_80{
        margin: 0px;
    }
    .p7_80{
        margin-bottom: 25px;
    }
    .p8_80{
        margin: 0px;
    }
    .p9_80{
        margin: 0px;
    }
    .p10_80{
        margin: 0px;
    }
    .p11_80{
        margin: 0px;
    }
    .p12_80{
        margin: 0px;
    }
    .p13_80{
        margin-bottom: 50px;
    }
}